body {
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
}

.wrapper {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}