header {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}
.weatherContainer {
    text-align: right;
    width: min-content;
    padding: 10px 20px;
    background-color: $greyBg;
    border-radius: 50%;
    text-align: center;
}
img {
    width: 50px;
}