i:hover {
    cursor: pointer;
}
.fa-circle {
    color: rgba(153, 153, 153, 0.25);
}

.fa-stack:hover {
    .fa-circle {
        color: inherit;
    }

    .fa-stack-1x {
        color: rgba(153, 153, 153, 0.25);
    }
}