body {
    color: $grey;
    font-family: $raleway;
    font-size: 125%;
    font-weight: 300;
}

a {
    font-weight: 500;
}

h1 {
    font-family: $josefin;
    font-size: 5rem;
}

footer {
    font-size: 0.8rem;
}