body {
    color: $grey;
    font-family: $raleway;
    font-size: 125%;
    font-weight: 300;
}

a {
    font-weight: 500;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: -5%;
        bottom: -20%;
        width: 0%;
        height: 120%;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        border-radius: 2px;
        transition: width 0.4s ease-out;
        transform-origin: left;
    }
    &:hover::before {
        width: 110%;
    }
}

h1 {
    font-family: $josefin;
    font-size: 5rem;
}

button, input, select {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
    .err {
        text-transform: none;
        letter-spacing: normal;
        font-size: 0.9em;
    }

footer {
    font-size: 0.9rem;
}